.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.propertyListingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #fef8e7;
  border-radius: 10px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f2b333;
  padding: 10px;
  border-radius: 8px;
}

.propertiesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.propertyCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: calc(33.33% - 20px); /* 3 columnas, ajustando el espacio del gap */
  box-sizing: border-box;
}

.propertyCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.propertyCard h3 {
  margin-top: 10px;
  font-size: 18px;
  color: black;
}

.propertyCard p {
  margin: 5px 0;
  color: #333;
}

.propertyDetails {
  color: #666;
}

.addPropertyButton {
  background-color: #f2b333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.addPropertyButton:hover {
  background-color: #e0a828;
}

/* Media queries para responsividad */

@media (max-width: 1200px) {
  .propertyCard {
    width: calc(50% - 20px); /* 2 columnas */
  }
}

@media (max-width: 768px) {
  .propertyCard {
    width: 100%; /* 1 columna */
  }

  .header h1 {
    font-size: 20px; /* Ajuste del tama침o del texto */
  }
  
  .addPropertyButton {
    width: 100%; /* Bot칩n a ancho completo */
    text-align: center; /* Alinear el texto del bot칩n */
  }
}

@media (max-width: 480px) {
  .propertyListingContainer {
    padding: 20px; /* Menos padding en pantallas peque침as */
  }

  .propertyCard {
    padding: 10px; /* Menos padding en cada tarjeta */
  }
}
